Analisis y diagnostico financiero.html
Calculos.py
Costos y presupuestos.html
Derecho administrativo.html
Geopolitica.html
gptexample.py
index.html
index.py
Pruebas investigacion de operaciones.py
styles.css